.git/
.github/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.venv/
venv/

__pycache__/
*.pyc
*.pyo
*.swp

YggdraSIM-data/
Workspace/
state/
*.db
*.sqlite3

trace/
.profilepackage-cache/

build/
dist/
site/
yggdrasim.egg-info/

pysim/

reports/
YggdraSIM.md
reference_test_profile.transcode.*
demo.der
