# Sensitive keys and data
SCP03/script.txt
docs

# Python internals (Global)
**/__pycache__/
*.pyc
Documents.code-workspace
YggdraSIM.code-workspace

# Automation logs
git_agent.log
.cursorrules
.cursorignore
.gitignore
.cursor
SGP.26_v3.0.2-20240828_Files_draft3_2025
