[ req ]
default_bits = 256
distinguished_name = req_dn
prompt = no
default_md = sha256
x509_extensions = v3_ca

[ req_dn ]
C = XX
ST = TestState
L = TestLocality
O = YggdraSIM
OU = eSIM Simulator CA
CN = YggdraSIM.eSIM.Simulator.RootCA
emailAddress = certops@yggdrasim.local

[ v3_ca ]
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid:always,issuer
basicConstraints = critical, CA:true, pathlen:0
keyUsage = critical, keyCertSign, cRLSign, digitalSignature
