[ req ]
default_bits = 256
distinguished_name = req_dn
prompt = no
default_md = sha256
req_extensions = v3_req

[ req_dn ]
C = SE
ST = Stockholm
L = Stockholm
O = YggdraSIM
OU = eSIM Simulator
CN = YggdraSIM.eSIM.Simulator.Cert.Chain
emailAddress = certops@yggdrasim.local

[ v3_req ]
basicConstraints = critical, CA:FALSE
keyUsage = critical, digitalSignature, keyEncipherment, keyAgreement
extendedKeyUsage = clientAuth, serverAuth
subjectKeyIdentifier = hash
subjectAltName = @alt_names

[ v3_leaf ]
basicConstraints = critical, CA:FALSE
keyUsage = critical, digitalSignature, keyEncipherment, keyAgreement
extendedKeyUsage = clientAuth, serverAuth
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = YggdraSIM.eSIM.Simulator.Cert.Chain
DNS.2 = eim-chain.local.yggdrasim
URI.1 = urn:yggdrasim:eim:simulator:cert:chain
