# openssl x509 extfile params
extensions = extend
# This prevent the user to be prompted for values
prompt = no

[extend] # openssl extensions
authorityKeyIdentifier=keyid,issuer

subjectKeyIdentifier=hash

subjectAltName = RID:2.999.232

keyUsage =critical, digitalSignature

certificatePolicies=critical, 2.23.146.1.2.1.0.0.1.1

crlDistributionPoints=URI:http://smdp.test.example.com/CRL-1.crl, URI:http://smdp.test.example.com/CRL-2.crl

