######################################################################################################################################################################
# Extensions for a DSTLS
keyUsage = critical, digitalSignature
extendedKeyUsage = critical, serverAuth, clientAuth
certificatePolicies = 2.23.146.1.2.1.0.0.2.0
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer

# RID shall be aligend with SGP.23 value SM-DS OID 
# This value is disaligment with SGP26.v3.0.1 but this change is update in SGP26v.3.0.2
subjectAltName =  DNS:testsmds2.example.com, RID:2.999.252

crlDistributionPoints=URI:http://ci.test.example.com/CRL-1.crl, URI:http://ci.test.example.com/CRL-2.crl

