######################################################################################################################################################################
# Extensions for a DSTLS
keyUsage = critical, digitalSignature
extendedKeyUsage = critical, serverAuth, clientAuth
certificatePolicies = critical, 2.23.146.1.2.1.0.0.2.1
subjectKeyIdentifier = hash
authorityKeyIdentifier = keyid,issuer

# RID shall be aligend with SGP.23 value SM-DS OID 
# DNS name shall be aligned with SGP.23 value #TEST_DP_ADDRESS1
subjectAltName =  DNS:testsmds1.example.com, RID:2.999.251

crlDistributionPoints=URI:http://ci.test.example.com/CRL-1.crl, URI:http://ci.test.example.com/CRL-2.crl

